@model inventory_360.Models.Job

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishDate" class="control-label"></label>
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equpiment" class="control-label" />
                @if (Model.Equpiment != null && Model.Equpiments.Count > 0)
                {
                    <p>Equipment</p>
                    <select asp-for="Equpiment" class="form-control">
                        @foreach (Equipment equipment in Model.Equpiments)
                        {
                            <option value=@equipment.Id>@equipment.Make</option>
                        }
                    </select>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Equipments" asp-action="Create">New Equipment</a>
                    <br />
                }
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Employee" class="control-label" />
                @if (Model.Employee != null && Model.Employees.Count > 0)
                {
                    <p>Employee</p>
                    <select asp-for="Employee" class="form-control">
                        @foreach (Employee employee in Model.Employees)
                        {
                            <option value=@employee.Id>@employee.Name</option>
                        }
                    </select>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Employees" asp-action="Create">New Employee</a>
                    <br />
                }
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Clients" class="control-label" />
                @if (Model.Clients != null && Model.Clients.Count > 0)
                {
                    <p>Client</p>
                    <select asp-for="Clients" class="form-control">
                        @foreach (Client client in Model.Clients)
                        {
                            <option value=@client.Id>@client.Name</option>
                        }
                    </select>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Clients" asp-action="Create">New Client</a>
                    <br />
                }
                <br />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
