@model inventory_360.Models.EditJobView

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishDate" class="control-label"></label>
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipments" class="control-label" />
                @if (Model.Equipments != null && Model.Equipments.Count > 0)
                {
                    <p>Item</p>
                    <select asp-for="SelectedEquipmentId" class="form-control">
                        @foreach (Equipment equipment in Model.Equipments)
                        {
                            <option value=@equipment.Id>@equipment.Make</option>
                        }
                    </select>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Items" asp-action="Create">New Item</a>
                    <br />
                }
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Employees" class="control-label" />
                @if (Model.Employees != null && Model.Employees.Count > 0)
                {
                    <p>Item</p>
                    <select asp-for="SelectedEmployeeId" class="form-control">
                        @foreach (Employee employee in Model.Employees)
                        {
                            <option value=@employee.Id>@employee.Name</option>
                        }
                    </select>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Items" asp-action="Create">New Item</a>
                    <br />
                }
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Clients" class="control-label" />
                @if (Model.Clients != null && Model.Clients.Count > 0)
                {
                    <p>Item</p>
                    <select asp-for="SelectedEquipmentId" class="form-control">
                        @foreach (Client client in Model.Clients)
                        {
                            <option value=@client.Id>@client.Name</option>
                        }
                    </select>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Items" asp-action="Create">New Item</a>
                    <br />
                }
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
