<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/25997ef4-961f-41fb-a317-a521f669d2c6/resourceGroups/InstrumentRentalsAssignment_group/providers/Microsoft.Web/sites/InstrumentRentalsAssignment</ResourceId>
    <ResourceGroup>InstrumentRentalsAssignment_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://instrumentrentalsassignment.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://instrumentrentalsassignment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$InstrumentRentalsAssignment</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>