@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory 360</h1>
    <p>Welcome! We are an innovative way to track your equipment inveotry and employees</a>.</p>
</div>

