@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Andrew's Instrument Exchange</h1>
    <p>Welcome! We are an innovative way to rent out instruments, and earn a cut!</a>.</p>
</div>

